<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JustView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JustView.Properties.Settings>
            <setting name="DisplayMode" serializeAs="String">
                <value>BestFit</value>
            </setting>
            <setting name="ForAutoWindowSizingLeaveSpaceAroundBoundsIfNearScreenSizeAndToggle"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PixelsSpaceAroundBounds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ResizeWindowToNewImageWhenOpeningThroughApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BorderOnMainWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoopGifs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysOnTopByDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MuteMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxCompressedCopySizeMB" serializeAs="String">
                <value>10</value>
            </setting>
        </JustView.Properties.Settings>
    </userSettings>
</configuration>